@font-face{
    font-family: Ranille;
    src: url(RanilleNormalRegular-EaZJj.ttf);
  }

body{
    background-color: black;
    text-align: center; 
}

h2{
    color: white;
    font-family: Ranille;
    margin: 50px;
}

#nova_igra{
    font-family: Ranille; 
    background-color: black; 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    border-radius: 12px; 
    cursor: pointer; 
    margin: 100px; 
    color: #78DCE8; 
    border-color:  #78DCE8; 
}