
@font-face{
    font-family: Ranille;
    src: url(RanilleNormalRegular-EaZJj);
  }

body{
    background-color: black;
    text-align: -webkit-center; 
}

.navaden{
    border: 5px solid white;
    background-color: white;
    box-shadow: 10px 10px 5px rgb(54, 54, 54);
    margin-inline-start: 0;
    margin-inline-end: 0;

}

.horizontal-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

tr{
    border: 5px solid white;
    width: 40%;
}

td{
    height: 100px;
    width: 100px;
}

h2{
    font-family: Ranille;
    color: white;
}

.hidden{
    visibility: hidden;
    background-color: black;
}

td:hover .hidden{
    visibility: visible;
    background-color: black;
    cursor: pointer
}

.zetoncek{
    border: 0px;
    padding: 0px;
    background-color: black;

}

.poseben{
    border: 5px solid black;
    background-color: black;
    box-shadow: none;
}

