@font-face{
    font-family: Ranille;
    src: url(RanilleNormalRegular-EaZJj.ttf);
  }

body{
    background-color: black;
    text-align: center;
}

h2{
    color: white;
    font-family: Ranille;
    margin: 50px;
}

input{
    border: 3px solid #FF6188;
    width: 15%;
    border-radius: 8px;
    height: 30px;
    caret-color: black;
    font-size: 20px;
    font-family: Ranille;
    text-align: center;
}

input:focus::placeholder {
    color: transparent;
  }