@font-face{
    font-family: Ranille;
    src: url(RanilleNormalRegular-EaZJj.ttf);
  }

@font-face {
    font-family: Monopente;
    src: url(Monopente-1GEaZ.otf);
}

body{
    background-color: black;
    text-align: center;
}

h1{
    font-family: Monopente;
    font-size: 200px;
    color: white;
    font-weight: lighter;
    margin: 50px;
}

h2{
    font-family: Ranille;
    color: white;
}

button{
    font-family: Ranille;
    background-color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    margin:10px;
    vertical-align: center;
}

#button1{
    color: #78DCE8;
    border-color:  #78DCE8;
}

#button2{
    color: #FF6188;
    border-color:  #FF6188;
}

#button3{
    color: #FFD866;
    border-color:  #FFD866;
}

.horizontal-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
}